<%= form_with(model: booking, class: "flex-auto px-4 lg:px-10 py-10 pt-0 mt-4") do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full  px-4">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
      <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
          <h6 class="text-blueGray-700 text-xl font-bold">Reservas</h6>
        </div>
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form>
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">Descripción</h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <%= form.label 'Título', class: "block uppercase text-blueGray-600 text-xs font-bold mb-2" %>
                <%= form.text_field :title, class: "border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" %>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <%= form.label 'Descripción', class: "block uppercase text-blueGray-600 text-xs font-bold mb-2" %>
                <%= form.text_area :description, class: "border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" %>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <%= form.label 'Hora Inicio', class: "block uppercase text-blueGray-600 text-xs font-bold mb-2" %>
                <%= form.datetime_field :start_at, min: Date.today, class: "border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" %>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <%= form.label 'Hora Fin', class: "block uppercase text-blueGray-600 text-xs font-bold mb-2" %>
                <%= form.datetime_field :end_at, min: Date.today, class: "border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" %>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <%= form.label 'Sala', class: "block uppercase text-blueGray-600 text-xs font-bold mb-2" %>
                <%= form.collection_select :room_id, Room.default, :id, :name, {}, { class: "border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" } %>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <%= form.label 'Status', class: "block uppercase text-blueGray-600 text-xs font-bold mb-2" %>
                <%= form.select :status, options_for_select([['Confirmada', 1], ['Pendiente', 0], ['Cancelada', 2]]), {}, class: "border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" %>
              </div>
            </div>
          </div>
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">Usuario</h6>
          <div data-controller="slim">
            <div class="flex flex-wrap">
              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <%= form.label 'Buscar', class: "block uppercase text-blueGray-600 text-xs font-bold mb-2" %>
                  <%= form.select :customer_id, Customer.default.full_name, {include_blank: true}, { class: "border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" } %>
                </div>
              </div>
              <!--<div class="w-full lg:w-6/12 px-4 justify-center mt-8">
                <div class="relative w-full mb-3">
                  <%#= link_to 'Crear Usuario', new_customer_path(modal:true), class: "bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1", type: "button", style: "transition: all 0.15s ease 0s;", data: { turbo_frame: "modal" } %>
                </div>
              </div>-->
            </div>
          </div>
          <%= form.submit "Guardar", class: "bg-blueGray-700 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" %>
          <%= link_to 'Volver al listado', bookings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </form>
      </div>
    </div>
  </div>
<% end %>
