<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-blueGray-400 text-center mb-3 font-bold"><small>Ingresar</small></div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="relative w-full mb-3">
              <%= f.label :email, class: "block uppercase text-blueGray-600 text-xs font-bold mb-2" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" %>
            </div>
            <div class="relative w-full mb-3">
              <%= f.label :password, class: "block uppercase text-blueGray-600 text-xs font-bold mb-2" %>
              <%= f.password_field :password, autofocus: true, autocomplete: "email", class: "border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div>
                <label class="inline-flex items-center cursor-pointer">
                  <%= f.check_box :remember_me, class: "form-checkbox border-0 rounded text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150" %>
                  <%= f.label :remember_me, class: "ml-2 block text-sm text-blueGray-600" %>
                </label>
              </div>
            <% end %>
            <div class="text-center mt-6">
              <%= f.submit "Ingresar", class: "bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render  "devise/shared/links" %>
    </div>
  </div>
</div>