<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookingWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blueGray-100">
    <main class="">
      <%= render "layouts/shared/notice" %>
      <% if user_signed_in? %>
        <%= render "layouts/shared/sidebar" %>
        <div class="relative md:ml-64 bg-blueGray-100">
          <%= yield %>
        </div>
        <%= turbo_frame_tag "modal" %>
        <%= render "layouts/shared/confirmation_modal" %>
      <% else %>
        <div class="absolute top-0 w-full h-full bg-blueGray-800 bg-no-repeat bg-full" style="background-image: url('https://bit.ly/3DErXHg');">
          <div class="min-h-screen flex items-center justify-center">
            <%= yield %>
          </div>
        </div>
      <% end %>
    </main>
  </body>
</html>